<%= turbo_stream_from @pool %>

<div class="d-flex flex-row p-0">
  <div class="col-md-3 col-sm-12 p-4 bg-light border-dark-subtl border-end full-height">
    <%= render partial: "pulses/list", locals: { pulses: @pulses } %>
  </div>

  <div class="col-md-9 col-sm-12 p-3">
    <%= render partial: "pulses/detail", locals: { pool: @pool, first_pulse: @pulses&.first } %>
  </div>
</div>
